# Core
fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv

# SQLite (driver por defecto de SQLAlchemy, ya viene con Python)

# Optional: Para UUID y JSONField
sqlmodel

# Testing (si decides usarlo en el futuro)
pytest

# Client HTTP (opcional para pruebas internas)
httpx

# Email o validaciones extra (si las usas)
email-validator

# Dependencias internas usadas por FastAPI y Pydantic
anyio
certifi
click
greenlet
h11
httpcore
idna
packaging
pluggy
sniffio
typing_extensions
iniconfig
